@model IEnumerable<IAB_MVC_V1.Models.tblProductosProveedores>

@{
    ViewBag.Title = "Index";
}

<h2>Productos de Proveedores</h2>

<p>
    @Html.ActionLink("Crear nuevo Producto de Proveedores", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Producto
        </th>
        <th>
            Precio del Producto
        </th>
        <th>
            Descripción
        </th>
        <th>
            Servicio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblServiciosProveedores.idServicioProveedor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idProductoProveedor }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idProductoProveedor }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idProductoProveedor })
        </td>
    </tr>
}

</table>
