@model IEnumerable<IAB_MVC_V1.Models.tblProductosProveedores>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblServiciosProveedores.idServicioProveedor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblServiciosProveedores.idServicioProveedor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProductoProveedor }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProductoProveedor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProductoProveedor })
        </td>
    </tr>
}

</table>
