@model IAB_MVC_V1.Models.tblPlantillaBoletos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3> ¿Estás seguro de que quieres eliminar esta Plantilla?</h3>
<div>
    <h4>Plantilla de Boletos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Plantilla de Boleto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plantillaBoleto)
        </dd>

        <dt>
            Ancho
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ancho)
        </dd>

        <dt>
           Alto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
