@model IEnumerable<IAB_MVC_V1.Models.tblDieteticas>

@{
    ViewBag.Title = "Index";
}

<h2>Categorías de Proveedores</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre de la Dietética
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomDietetica)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idDietetica }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idDietetica }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idDietetica })
        </td>
    </tr>
}

</table>
