@model IAB_MVC_V1.Models.tblItinerarios

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hora de Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaInicio)
        </dd>

        <dt>
           Hora de Terminación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaFin)
        </dd>

        <dt>
           Actividad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actividad)
        </dd>

        <dt>
           Responsables
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsables)
        </dd>

        <dt>
           Novia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblNovios.nombreNovia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Detalle", "Details", new { id = Model.idItinerario }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
