@model IEnumerable<IAB_MVC_V1.Models.tblStatusPagos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idStatusPago }) |
            @Html.ActionLink("Details", "Details", new { id=item.idStatusPago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idStatusPago })
        </td>
    </tr>
}

</table>
