@model IEnumerable<IAB_MVC_V1.Models.tblOfertasProveedores>

@{
    ViewBag.Title = "Index";
}



<h2>Ofertas Proveedores</h2>

<p>
    @Html.ActionLink("Crear Nueva Oferta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Oferta
        </th>
        <th>
            Estatus
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.oferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idOfertaProveedor }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idOfertaProveedor }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idOfertaProveedor })
        </td>
    </tr>
}

</table>
