@model IEnumerable<IAB_MVC_V1.Models.tblProveedoresMunicipios>

@{
    ViewBag.Title = "Index";
}

<h2>Proveedores por Municipio</h2>

<p>
    @Html.ActionLink("Crear Nuevo Proveedor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Municipio
        </th>
        <th>
            Nombre del Negocio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblMunicipios.nombreMunicipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblProveedores.nomNegocio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idProveedorMunicipio }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idProveedorMunicipio }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idProveedorMunicipio })
        </td>
    </tr>
}

</table>
