@model IEnumerable<IAB_MVC_V1.Models.tblOrganizadoresBodas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreOrganizador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblEmpresasOrganizadores.nombreEmpresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreOrganizador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblEmpresasOrganizadores.nombreEmpresa)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idOrganizadorBoda }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idOrganizadorBoda }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idOrganizadorBoda })
        </td>
    </tr>
}

</table>
