@model IAB_MVC_V1.Models.tblRespuestasProveedores

@{
    ViewBag.Title = "Create";
}
@{
    Layout = "~/Views/Shared/_Layout - Copia.cshtml";
}
<div class="content" style="margin-left: 0;">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Preguntas frecuentes</h4>
        <hr />
        <p>Sus respuestas a las siguientes preguntas le ayudarán a mostrar su personalidad y a dar a las parejas una idea de cómo es trabajar con usted y su empresa, más allá de una descripción general de los servicios. ¡Responde tantas como quieras y diviértete con tus respuestas personalizadas!</p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p>Seleccione la pregunta</p>
        <div class="form-group">

            @Html.LabelFor(model => model.idPreguntaProveedor, "Pregunta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idPreguntaProveedor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idPreguntaProveedor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idProveedor, "Proveedor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idProveedor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idProveedor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Respuesta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Respuesta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Respuesta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn blue" />
            </div>
        </div>

    </div>
    }

    <div>
        @Html.ActionLink("Regresar a la Lista", "Index")
    </div>
    </div>