@model IEnumerable<IAB_MVC_V1.Models.tblMensajesProveedores>

@{
    ViewBag.Title = "Index";
}

<h2>Mensajes Proveedores</h2>

<p>
    @Html.ActionLink("Crear Nuevo Mensaje", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Titulo del Mensaje
        </th>
        <th>
            Mensaje
        </th>
        <th>
           Nombre del Negocio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tituloMensaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mensaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblProveedores.nomNegocio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idMensajeProveedor }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idMensajeProveedor }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idMensajeProveedor })
        </td>
    </tr>
}

</table>
