@model IAB_MVC_V1.Models.tblNovios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblNovios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreNovia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreNovia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aPNovia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aPNovia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aMNovia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aMNovia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreNovio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreNovio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aPNovio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aPNovio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aMNovio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aMNovio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dominio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dominio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.padrinoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.padrinoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.padrinoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.padrinoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.madrinaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.madrinaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.madrinaApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.madrinaApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.misaLugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.misaLugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.misaHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.misaHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.misaFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.misaFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recepcionLugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recepcionLugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recepcionHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recepcionHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recepcionFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recepcionFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fiestaLugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiestaLugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fiestaHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiestaHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fiestaFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiestaFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPlantilla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPlantilla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.papaNovioNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.papaNovioNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mamaNovioNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mamaNovioNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.papaNoviaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.papaNoviaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mamaNoviaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mamaNoviaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facebookNovio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facebookNovio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facebookNovia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facebookNovia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.twitterNovio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.twitterNovio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.twitterNovia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.twitterNovia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instagramNovio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instagramNovio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instagramNovia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instagramNovia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.validacionCorreo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.validacionCorreo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.misaLatitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.misaLatitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.misaLongitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.misaLongitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recepcionLatitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recepcionLatitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recepcionLongitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recepcionLongitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fiestaLatitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiestaLatitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fiestaLongitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiestaLongitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dominioExterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dominioExterno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idNovios }) |
    @Html.ActionLink("Back to List", "Index")
</p>
