@model IAB_MVC_V1.Models.tblNovios

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Novios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Novia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreNovia)
        </dd>

        <dt>
            A. Paterno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aPNovia)
        </dd>

        <dt>
            A. Materno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aMNovia)
        </dd>

        <dt>
            Novio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreNovio)
        </dd>

        <dt>
            A. Paterno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aPNovio)
        </dd>

        <dt>
          A. Materno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aMNovio)
        </dd>

        <dt>
            Fecha de registro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            Dominio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dominio)
        </dd>

        <dt>
            Padrino
        </dt>

        <dd>
            @Html.DisplayFor(model => model.padrinoNombre)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.padrinoApellido)
        </dd>

        <dt>
            Madrina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.madrinaNombre)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.madrinaApellido)
        </dd>

        <dt>
           Lugar de la misa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.misaLugar)
        </dd>

        <dt>
            Hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.misaHora)
        </dd>

        <dt>
            Fecha 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.misaFecha)
        </dd>

        <dt>
            Lugar de recepción
        </dt>

        <dt>
           Hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recepcionHora)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recepcionFecha)
        </dd>

        <dt>
            Lugar de la fiesta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiestaLugar)
        </dd>

        <dt>
            Hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiestaHora)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiestaFecha)
        </dd>

        <dt>
            Contraseña
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoRegistro)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telRegistro)
        </dd>

        <dt>
          Plantilla
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPlantilla)
        </dd>

        <dt>
            Activo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
           Papá del novio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.papaNovioNombre)
        </dd>

        <dt>
           Mamá del novio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mamaNovioNombre)
        </dd>

        <dt>
            Papá de la novia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.papaNoviaNombre)
        </dd>

        <dt>
          Mamá de la novia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mamaNoviaNombre)
        </dd>


        <dt>
            Validación Correo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.validacionCorreo)
        </dd>

        <dt>
            Misa Latitud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.misaLatitud)
        </dd>

        <dt>
            Misa Longitud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.misaLongitud)
        </dd>

        <dt>
           Recepción Latitud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recepcionLatitud)
        </dd>

        <dt>
            Recepción Longitud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recepcionLongitud)
        </dd>

        <dt>
            Fiesta Latitud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiestaLatitud)
        </dd>

        <dt>
            Fiesta Longitud
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiestaLongitud)
        </dd>

        <dt>
            Dominio Externo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dominioExterno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idNovios }) |
    @Html.ActionLink("Regresar", "Index")
</p>
