@model IAB_MVC_V1.Models.tblNovios

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Novios</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idNovios)

    <div class="form-group">

        <div class="col-md-10">
            <span>Novia</span>
            @Html.EditorFor(model => model.nombreNovia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombreNovia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>A. Paterno</span>
            @Html.EditorFor(model => model.aPNovia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.aPNovia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>A. Materno</span>
            @Html.EditorFor(model => model.aMNovia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.aMNovia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Novio</span>
            @Html.EditorFor(model => model.nombreNovio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombreNovio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>A. Paterno</span>
            @Html.EditorFor(model => model.aPNovio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.aPNovio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>A. Materno</span>
            @Html.EditorFor(model => model.aMNovio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.aMNovio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Registro</span>
            @Html.EditorFor(model => model.fechaRegistro, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fechaRegistro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Dominio</span>
            @Html.EditorFor(model => model.dominio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dominio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Nombre de Padrino</span>
            @Html.EditorFor(model => model.padrinoNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.padrinoNombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <span>Apellido</span>
            @Html.EditorFor(model => model.padrinoApellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.padrinoApellido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Nombre de madrina</span>
            @Html.EditorFor(model => model.madrinaNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.madrinaNombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Apellido</span>
            @Html.EditorFor(model => model.madrinaApellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.madrinaApellido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Lugar de la misa</span>
            @Html.EditorFor(model => model.misaLugar, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.misaLugar, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Hora</span>
            @Html.EditorFor(model => model.misaHora, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.misaHora, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Fecha</span>
            @Html.EditorFor(model => model.misaFecha, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.misaFecha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Lugar de la recepción</span>
            @Html.EditorFor(model => model.recepcionLugar, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.recepcionLugar, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Hora</span>
            @Html.EditorFor(model => model.recepcionHora, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.recepcionHora, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Fecha</span>
            @Html.EditorFor(model => model.recepcionFecha, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.recepcionFecha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Lugar de la fiesta</span>
            @Html.EditorFor(model => model.fiestaLugar, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fiestaLugar, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Hora</span>
            @Html.EditorFor(model => model.fiestaHora, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fiestaHora, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Fecha</span>
            @Html.EditorFor(model => model.fiestaFecha, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fiestaFecha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Contraseña</span>
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Correo Registro</span>
            @Html.EditorFor(model => model.correoRegistro, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.correoRegistro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Teléfono de Registro</span>
            @Html.EditorFor(model => model.telRegistro, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.telRegistro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            Id Plantilla
            @Html.EditorFor(model => model.idPlantilla, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idPlantilla, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Activo</span>
            <div class="checkbox">
                @Html.EditorFor(model => model.activo)
                @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Nombre del papá del novio</span>
            @Html.EditorFor(model => model.papaNovioNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.papaNovioNombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Nombre de la mamá del novio</span>
            @Html.EditorFor(model => model.mamaNovioNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mamaNovioNombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Nombre del papá de la novia</span>
            @Html.EditorFor(model => model.papaNoviaNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.papaNoviaNombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            <span>Nombre de la mamá de la novia</span>
            @Html.EditorFor(model => model.mamaNoviaNombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mamaNoviaNombre, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">

        <div class="col-md-10">
            <span>Validación del correo</span>
            <div class="checkbox">
                @Html.EditorFor(model => model.validacionCorreo)
                @Html.ValidationMessageFor(model => model.validacionCorreo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        
        <div class="col-md-10">
            <span>Misa Latitud</span>
            @Html.EditorFor(model => model.misaLatitud, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.misaLatitud, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        
        <div class="col-md-10">
            <span>Misa Longitud</span>
            @Html.EditorFor(model => model.misaLongitud, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.misaLongitud, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        
        <div class="col-md-10">
            <span>Recepción Latitud</span>
            @Html.EditorFor(model => model.recepcionLatitud, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.recepcionLatitud, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        
        <div class="col-md-10">
            <span>Recepción Longitud</span>
            @Html.EditorFor(model => model.recepcionLongitud, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.recepcionLongitud, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        
        <div class="col-md-10">
            <span>Fiesta Latitud</span>
            @Html.EditorFor(model => model.fiestaLatitud, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fiestaLatitud, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        
        <div class="col-md-10">
            <span>Fiesta Longitud</span>
            @Html.EditorFor(model => model.fiestaLongitud, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fiestaLongitud, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        
        <div class="col-md-10">
            <span>Dominio Externo</span>
            <div class="checkbox">
                @Html.EditorFor(model => model.dominioExterno)
                @Html.ValidationMessageFor(model => model.dominioExterno, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
