@model IEnumerable<IAB_MVC_V1.Models.tblNovios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreNovia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aPNovia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aMNovia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreNovio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aPNovio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aMNovio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dominio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.padrinoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.padrinoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.madrinaNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.madrinaApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.misaLugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.misaHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.misaFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recepcionLugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recepcionHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recepcionFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fiestaLugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fiestaHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fiestaFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correoRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPlantilla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.papaNovioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mamaNovioNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.papaNoviaNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mamaNoviaNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.facebookNovio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.facebookNovia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.twitterNovio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.twitterNovia)
        </th>
        
       
        <th>
            @Html.DisplayNameFor(model => model.validacionCorreo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.misaLatitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.misaLongitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recepcionLatitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recepcionLongitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fiestaLatitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fiestaLongitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dominioExterno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreNovia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aPNovia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aMNovia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreNovio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aPNovio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aMNovio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dominio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.padrinoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.padrinoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.madrinaNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.madrinaApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.misaLugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.misaHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.misaFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recepcionLugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recepcionHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recepcionFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fiestaLugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fiestaHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fiestaFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correoRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPlantilla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.papaNovioNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mamaNovioNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.papaNoviaNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mamaNoviaNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.facebookNovio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.facebookNovia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.twitterNovio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.twitterNovia)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.validacionCorreo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.misaLatitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.misaLongitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recepcionLatitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recepcionLongitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fiestaLatitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fiestaLongitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dominioExterno)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idNovios }) |
            @Html.ActionLink("Details", "Details", new { id=item.idNovios }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idNovios })
        </td>
    </tr>
}

</table>
