@model IEnumerable<IAB_MVC_V1.Models.tblNovios>

@{
    ViewBag.Title = "Index";
}

<h2>Novios</h2>

<p>
    @Html.ActionLink("Registrar", "Create")
</p>
<div style="overflow-x:auto;">
    <table class="table">
        <tr>
            <th>
                Novia
            </th>

            <th>
                Novio
            </th>

            <th>
                Registro
            </th>
            <th>
                Dominio
            </th>
            <th>
                Padrinos
            </th>

            <th>
                 Misa
            </th>

            <th>
                Recepción
            </th>

            <th>
                Fiesta
            </th>

            <th>
                Email y contraseña
            </th>
          
            <th>
                Teléfono
            </th>
            <th>
                Plantilla
            </th>
            <th>
                Activo
            </th>
            <th>
                Papás del Novio
            </th>
            
            <th>
                Papás de la Novia
            </th>
            
            <th>
               Validacion Correo
            </th>
            <th>
                Misa latitud y longitud
            </th>
            <th>
                Recepcion latitud y longitud
            </th>
            <th>
                FiestaLatitud y longitud
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dominioExterno)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreNovia)
                    @Html.DisplayFor(modelItem => item.aPNovia)  
                    @Html.DisplayFor(modelItem => item.aMNovia)

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.nombreNovio) 
                    @Html.DisplayFor(modelItem => item.aPNovio)  
                    @Html.DisplayFor(modelItem => item.aMNovio)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.fechaRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dominio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.padrinoNombre)   
                  <span>y</span>
                    @Html.DisplayFor(modelItem => item.madrinaNombre) 
                   
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.misaLugar) 
                    @Html.DisplayFor(modelItem => item.misaHora)   
                    @Html.DisplayFor(modelItem => item.misaFecha)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.recepcionLugar) 
                    @Html.DisplayFor(modelItem => item.recepcionHora)   
                    @Html.DisplayFor(modelItem => item.recepcionFecha)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fiestaLugar) 
                    @Html.Raw(" ") @Html.DisplayFor(modelItem => item.fiestaHora) 
                    @Html.DisplayFor(modelItem => item.fiestaFecha)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                    @Html.DisplayFor(modelItem => item.correoRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idPlantilla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.papaNovioNombre)
                    @Html.DisplayFor(modelItem => item.mamaNovioNombre)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.papaNoviaNombre)
                    @Html.DisplayFor(modelItem => item.mamaNoviaNombre)
                </td>
               
               
                <td>
                    @Html.DisplayFor(modelItem => item.validacionCorreo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.misaLatitud)
                    @Html.DisplayFor(modelItem => item.misaLongitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recepcionLatitud)
                    @Html.DisplayFor(modelItem => item.recepcionLongitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiestaLatitud)
                    @Html.DisplayFor(modelItem => item.fiestaLongitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dominioExterno)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idNovios }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idNovios }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idNovios })
                </td>
            </tr>
        }

    </table>
</div>