@model IAB_MVC_V1.Models.tblRedesProveedores

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Link
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

        <dt>
            Nombre del Negocio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProveedores.nomNegocio)
        </dd>

        <dt>
            Red Social
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRedesSociales.redSocial)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
