@model IAB_MVC_V1.Models.tblRedesProveedores

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Link
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

        <dt>
            Nombre del Negocio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProveedores.nomNegocio)
        </dd>

        <dt>
            Red Social
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRedesSociales.redSocial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idRedProveedor }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
