@model IEnumerable<IAB_MVC_V1.Models.tblRedesProveedores>

@{
    ViewBag.Title = "Index";
}

<h2>Redes Sociales Proveedores</h2>

<p>
    @Html.ActionLink("Crear Nueva Red Social del Proveedor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Link
        </th>
        <th>
           Nombre del Negocio
        </th>
        <th>
            Red Social
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblProveedores.nomNegocio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblRedesSociales.redSocial)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idRedProveedor }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idRedProveedor }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idRedProveedor })
        </td>
    </tr>
}

</table>
