@model IAB_MVC_V1.Models.tblConfiguracion

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Configuracion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                <span>Novios</span>
                @Html.DropDownList("idNovios", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idNovios, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Requiere Autenticacion</span>
                <div class="checkbox">
                    @Html.EditorFor(model => model.requiereAutenticacion)
                    @Html.ValidationMessageFor(model => model.requiereAutenticacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Dominio Externo</span>
                <div class="checkbox">
                    @Html.EditorFor(model => model.dominioExterno)
                    @Html.ValidationMessageFor(model => model.dominioExterno, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
