@model IAB_MVC_V1.Models.tblConfiguracion

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar a la novia?</h3>
<div>
    <h4>Configuración</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Requiere Autenticación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.requiereAutenticacion)
        </dd>

        <dt>
            Dominio Externo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dominioExterno)
        </dd>

        <dt>
            Nombre de la novia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblNovios.nombreNovia)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
