@model IAB_MVC_V1.Models.tblProveedores

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Nombre del Negocio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomNegocio)
        </dd>

        <dt>
            Sitio Web
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sitioWeb)
        </dd>

        <dt>
           Telefono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Codigo Postal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoPostal)
        </dd>

        <dt>
            Dirección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            Pais
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

        <dt>
            Precio Inicial
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioInicial)
        </dd>

        <dt>
            Nombre de la Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCategoriasProveedores.nombreCategoria)
        </dd>

        <dt>
            Nombre del Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEstados.nombreEstado)
        </dd>

        <dt>
           Nombre del Municipio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblMunicipios.nombreMunicipio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idProveedor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
