@model IEnumerable<IAB_MVC_V1.Models.tblEmpresasOrganizadores>

@{
    ViewBag.Title = "Index";
}

<h2>Empresas de los Organizadores</h2>

<p>
    @Html.ActionLink("Crear Nueva Empresa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre de la Empresa
        </th>
        <th>
           Dirección
        </th>
        <th>
            Telefono
        </th>
        <th>
            Pagina Web
        </th>
        <th>
            Nombre del Estado
        </th>
        <th>
           Nombre de Municipio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paginaWeb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblEstados.nombreEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblMunicipios.nombreMunicipio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idEmpresaOrganizador }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idEmpresaOrganizador }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idEmpresaOrganizador })
        </td>
    </tr>
}

</table>
