@model IAB_MVC_V1.Models.tblPlantillasNovios

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Plantillas Novios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idPM_invitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPM_invitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPW_invitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPW_invitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPWA_invitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPWA_invitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPM_boletos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPM_boletos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPWA_boletos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPWA_boletos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPM_urgente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPM_urgente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPWA_urgente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPWA_urgente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPM_diaD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPM_diaD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPWA_diaD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPWA_diaD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblNovios.nombreNovia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblNovios.nombreNovia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idPlantillasNovios }) |
    @Html.ActionLink("Regresar", "Index")
</p>
