@model IEnumerable<IAB_MVC_V1.Models.tblServiciosCategoriasProvedores>

@{
    ViewBag.Title = "Index";
}

<h2>Servicios por Categoria</h2>

<p>
    @Html.ActionLink("Crear Nuevo Servicio ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Servicio
        </th>
        <th>
            Nombre de la Categoria
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.serviciosProveedores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCategoriasProveedores.nombreCategoria)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idServicioCategoProv }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idServicioCategoProv }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idServicioCategoProv })
        </td>
    </tr>
}

</table>
