@model IAB_MVC_V1.Models.tblServiciosProveedores

@{
    ViewBag.Title = "Create";
}
@{
    Layout = "~/Views/Shared/_Layout - Copia.cshtml";
}
<div class="content" style="margin-left: 0;">
  

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Servicios Generales</h4>
        <hr />
        <p>Por favor seleccione los servicios que ofrece su negocio.</p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.idProveedor, "Proveedor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idProveedor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idProveedor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idServiciosCategoProv, "Servicio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idServiciosCategoProv", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idServiciosCategoProv, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn blue" />
            </div>
        </div>

    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

