@model IAB_MVC_V1.Models.tblServiciosProveedores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblServiciosProveedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblProveedores.nomNegocio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProveedores.nomNegocio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblServiciosCategoriasProvedores.serviciosProveedores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblServiciosCategoriasProvedores.serviciosProveedores)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idServicioProveedor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
