@model IEnumerable<IAB_MVC_V1.Models.tblServiciosProveedores>

@{
    ViewBag.Title = "Index";
}

<h2>Servicios Proveedores</h2>

<p>
    @Html.ActionLink("Crear Nuevo Servicio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Negocio
        </th>
        <th>
            Servicio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblProveedores.nomNegocio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblServiciosCategoriasProvedores.serviciosProveedores)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idServicioProveedor }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idServicioProveedor }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idServicioProveedor })
        </td>
    </tr>
}

</table>


    <div class="category-head">
        <h2 class="title">Proveedores</h2><a href="javascript:void(0)" class="rightclose"><i class="ti-arrow-right"></i></a>
    </div>
    <div class="category-search-bx">
        <form>
            <input class="form-control" placeholder="Add a supplier to your shortlist">
        </form>
    </div>
    <div class="category-contact bg-gray">
        <div class="row sp15">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="listing-bx listing-sm">
                    <div class="listing-media">
                        <img src="images/listing/pic1.jpg" alt="">
                        <div class="media-info">
                            <ul class="featured-star">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Nombre del título del lugar de la boda</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> Ahmedabad, Gujarat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="listing-bx listing-sm">
                    <div class="listing-media">
                        <img src="images/listing/pic2.jpg" alt="">
                        <div class="media-info">
                            <ul class="featured-star">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Nombre del título del lugar de la boda</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> Ahmedabad, Gujarat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="listing-bx listing-sm">
                    <div class="listing-media">
                        <img src="images/listing/pic3.jpg" alt="">
                        <div class="media-info">
                            <ul class="featured-star">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Nombre del título del lugar de la boda</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> Ahmedabad, Gujarat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="listing-bx listing-sm">
                    <div class="listing-media">
                        <img src="images/listing/pic4.jpg" alt="">
                        <div class="media-info">
                            <ul class="featured-star">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Nombre del título del lugar de la boda</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> Ahmedabad, Gujarat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="listing-bx listing-sm">
                    <div class="listing-media">
                        <img src="images/listing/pic5.jpg" alt="">
                        <div class="media-info">
                            <ul class="featured-star">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Nombre del título del lugar de la boda</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> Ahmedabad, Gujarat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="listing-bx listing-sm">
                    <div class="listing-media">
                        <img src="images/listing/pic4.jpg" alt="">
                        <div class="media-info">
                            <ul class="featured-star">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Nombre del título del lugar de la boda</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> Ahmedabad, Gujarat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-bottom">
        <a href="listing-details.html" class="btn radius-sm">Explorar más lugares</a>
    </div>
