@model IAB_MVC_V1.Models.tblAcompanantes

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Acompañantes</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idAcompanate)

        <div class="form-group">
            @Html.LabelFor(model => model.idInvitado, "Invitados", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idInvitado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idInvitado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.acompanante, "Acompañante", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.acompanante, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.acompanante, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.confirmado, "Confirmado", htmlAttributes: new { @class = "control-label col-md-2" })
           
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.confirmado)
                    @Html.ValidationMessageFor(model => model.confirmado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mesa, "Mesa", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.mesa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mesa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar ", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
