@model IEnumerable<IAB_MVC_V1.Models.tblBebidas>

@{
    ViewBag.Title = "BEBIDAS";
}

<h2>BEBIDAS</h2>

<p>
    @Html.ActionLink("Registrar Bebida", "Create")
</p>
<table class="table">
    <tr>
        <th style="color: dimgrey;">
            Bebida
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bebida)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idBebida }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.idBebida }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idBebida })
            </td>
        </tr>
    }

</table>
