@model IEnumerable<IAB_MVC_V1.Models.tblBebidasInvitado>

@{
    ViewBag.Title = "Bebidas para invitados";
}

<h2>Bebidas para los invitados</h2>

<p>
    @Html.ActionLink("Registrar Invitado", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Bebidas de los Novios
        </th>
        <th>
            Apodo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tblBebidasNovios.idBebidaNovios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblInvitados.apodo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idBebidaInvitado }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.idBebidaInvitado }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idBebidaInvitado })
            </td>
        </tr>
    }

</table>
