@model IAB_MVC_V1.Models.tblPresupuestos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Presupuestos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Costo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo)
        </dd>

        <dt>
            Fecha de Pago
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaPago)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Observaciones
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observaciones)
        </dd>

        <dt>
            Nombre de la Novia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblNovios.nombreNovia)
        </dd>

        <dt>
            Nombre del Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProductosProveedores.nombreProducto)
        </dd>

        <dt>
            Servicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblServiciosProveedores.idServicioProveedor)
        </dd>

        <dt>
            Servicio del Proveedor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblServiciosCategoriasProvedores.serviciosProveedores)
        </dd>

        <dt>
            Estatus del Pago
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblStatusPagos.nomStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
