@model IAB_MVC_V1.Models.tblPresupuestos

@{
    ViewBag.Title = "Edit";
}

<h2></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Presupuesto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idPresupuesto)

        <div class="form-group">
            <div class="col-md-10">
                <span>Novios</span>
                @Html.DropDownList("idNovios", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idNovios, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <span>Servicio de Categoria del Producto</span>
                @Html.DropDownList("idServicioCategoProv", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idServicioCategoProv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <span>Costo</span>
                @Html.EditorFor(model => model.costo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.costo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <span>Fecha de Pago</span>
                @Html.EditorFor(model => model.fechaPago, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaPago, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <span>Estatus del Pago</span>
                @Html.DropDownList("idStatusPago", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idStatusPago, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <span>Descripción</span>
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <span>Observaciones</span>
                @Html.EditorFor(model => model.observaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <span>Producto del Proveedor</span>
                @Html.DropDownList("idProductoProveedor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idProductoProveedor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>
