@model IEnumerable<IAB_MVC_V1.Models.tblMunicipios>

@{
    ViewBag.Title = "Index";
}

<h2>Municipios</h2>

<p>
    @Html.ActionLink("Crear Nuevo Municipio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Municipio
        </th>
        <th>
           Nombre del Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreMunicipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblEstados.nombreEstado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idMunicipio }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idMunicipio }) |
            @Html.ActionLink("Elimar", "Delete", new { id=item.idMunicipio })
        </td>
    </tr>
}

</table>
