@model IEnumerable<IAB_MVC_V1.Models.tblSeleccionarOrganizadoresBodas>

@{
    ViewBag.Title = "Index";
}

<h2>Seleccionar Organizadores de Bodas</h2>

<p>
    @Html.ActionLink("Seleccionar un Nuevo Organizador", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Organizador
        </th>
        <th>
            Nombre de la Novia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblOrganizadoresBodas.nombreOrganizador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblNovios.nombreNovia)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdSeleccionarOrganizadorBoda }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdSeleccionarOrganizadorBoda }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdSeleccionarOrganizadorBoda })
        </td>
    </tr>
}

</table>
