@model IAB_MVC_V1.Models.tblHistoriaNovios

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Historia Novios</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                <span>Fecha que se conocieron</span>
                @Html.EditorFor(model => model.fechaConocieron, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaConocieron, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Conocieron</span>
                @Html.EditorFor(model => model.conocieron, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.conocieron, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Imagen que se conocieron</span>
                @Html.EditorFor(model => model.imgConocieron, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imgConocieron, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Novios</span>
                @Html.DropDownList("idNovios", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idNovios, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Fecha de propuesta</span>
                @Html.EditorFor(model => model.fechaPropuesta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaPropuesta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Propuesta</span>
                @Html.EditorFor(model => model.propuesta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.propuesta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Imagen de propuesta</span>
                @Html.EditorFor(model => model.imgPropuesta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imgPropuesta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Fecha de la primera cita</span>
                @Html.EditorFor(model => model.fechaPrimeraCita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaPrimeraCita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Primera cita</span>
                @Html.EditorFor(model => model.primeraCita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.primeraCita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Imagen de primera cita</span>
                @Html.EditorFor(model => model.imgPrimeraCita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imgPrimeraCita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Fecha de Pedida</span>
                @Html.EditorFor(model => model.fechaPedida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaPedida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Pedida</span>
                @Html.EditorFor(model => model.pedida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pedida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Imagen de pedida</span>
                @Html.EditorFor(model => model.imgPedida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imgPedida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Fecha de novios</span>
                @Html.EditorFor(model => model.fechaNovios, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaNovios, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Novios</span>
                @Html.EditorFor(model => model.novios, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.novios, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <span>Imagen de novios</span>
                @Html.EditorFor(model => model.imgNovios, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imgNovios, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
