@model IEnumerable<IAB_MVC_V1.Models.tblHistoriaNovios>

@{
    ViewBag.Title = "Historia Novios";
}

<h2>Historia de los novios</h2>

<p>
    @Html.ActionLink("Registrar Historia", "Create")
</p>
<div style="overflow-x:auto;">

    <table class="table">
        <tr>
            <th>
                Fecha que se conocieron
            </th>
            <th>
                Lugar e imagen de donde se conocieron
            </th>
            
            <th>
                Descripción de propuesta
            </th>
           
            <th>
                Imagen de propuesta
            </th>
            <th>
                Fecha de la primera cita
            </th>
            <th>
                Pimera cita
            </th>
            <th>
                Imagen de la primera cita
            </th>
            <th>
                Fecha de pedida de mano
            </th>
            <th>
                Pedida e imagen de la pedida
            </th>
            
            <th>
               Fecha de novios
            </th>
            <th>
               Nombre e imagen de los novios
            </th>
            <th>
                Novia
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaConocieron)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.conocieron)<br>

                    @Html.DisplayFor(modelItem => item.imgConocieron)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.fechaPropuesta)<br>
                    @Html.DisplayFor(modelItem => item.propuesta)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.imgPropuesta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaPrimeraCita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.primeraCita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imgPrimeraCita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaPedida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pedida)<br>
                    @Html.DisplayFor(modelItem => item.imgPedida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaNovios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.novios)<br>
                    @Html.DisplayFor(modelItem => item.imgNovios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblNovios.nombreNovia)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idNoviosHistoria }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idNoviosHistoria }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idNoviosHistoria })
                </td>
            </tr>
        }

    </table>
</div>
