@model IAB_MVC_V1.Models.tblWeddingPlanners

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblWeddingPlanners</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoElectronico1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoElectronico1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoElectronico2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoElectronico2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contraseña)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblEmpresas.nombreEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEmpresas.nombreEmpresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idWeddingPlanner }) |
    @Html.ActionLink("Back to List", "Index")
</p>
